@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import "tailwindcss";
@import "./tokens.css";

@font-face {
  font-family: "Canela Trial";
  src: url("/fonts/CanelaTrial-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-canela-trial: "Canela Trial", "DM Serif Display", serif;
}

@layer utilities {
  .font-button-text {
    @apply font-inter text-sm font-semibold;
  }

  .font-p---sm {
    @apply font-inter text-xs font-light;
  }

  .font-p---lg {
    @apply font-inter text-lg font-normal;
  }

  .font-h6---desk {
    @apply font-inter text-base font-medium;
  }

  .font-h5---desk {
    @apply font-canela-trial text-xl font-bold;
  }

  .font-h4---desk {
    @apply font-canela-trial text-3xl font-normal;
  }

  .font-h3---desk {
    @apply font-inter text-3xl font-semibold;
  }

  .font-h2---desk {
    @apply font-canela-trial text-4xl font-light;
  }

  .font-h1---desk {
    @apply font-canela-trial text-5xl font-bold;
  }

}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Canela Trial", "DM Serif Display", serif;
}

