

@theme {
  /* Pink */
  --color-pink-50: #fefafe;
  --color-pink-100: #faf2fb;
  --color-pink-200: #f4e7f7;
  --color-pink-300: #efdbf3;
  --color-pink-400: #ead0f0;
  --color-pink-500: #e5c5ed;
  --color-pink-600: #ca82d9;
  --color-pink-700: #a44ab4;
  --color-pink-800: #693073;
  --color-pink-900: #38193d;
  --color-pink-950: #251028;

  /* Indigo */
  --color-indigo-50: #eeedfe;
  --color-indigo-100: #e0dffd;
  --color-indigo-200: #c1c0fc;
  --color-indigo-300: #a4a2fa;
  --color-indigo-400: #8480f9;
  --color-indigo-500: #6a63f8;
  --color-indigo-600: #483df7;
  --color-indigo-700: #270af1;
  --color-indigo-800: #1b07a3;
  --color-indigo-900: #100461;
  --color-indigo-950: #0a0240;

  /* Blue */
  --color-blue-50: #eeedfe;
  --color-blue-100: #e7ebf9;
  --color-blue-200: #cfd8f1;
  --color-blue-300: #b7c5ea;
  --color-blue-400: #9fb2e4;
  --color-blue-500: #85a0dd;
  --color-blue-600: #4f7acb;
  --color-blue-700: #395891;
  --color-blue-800: #263a60;
  --color-blue-900: #152035;
  --color-blue-950: #0e1523;
}